.realestate-navbar {
    box-shadow: $theme-box-shadow;
    display: flex;
    flex-direction: row-reverse;
    height: $navbar-height;
    justify-content: space-between;
    .realestate-navbar__right {
        display: flex;
        flex-direction: row-reverse;        
        .navbar-item__right {
            @extend .flex-center;
            @extend .linked-text;
            font-size: $font-size-s;
            height: 100%;
            padding: $std-size;
            &:hover {
                background: $theme-hovered;
            }
        }
        .navbar-item__right.picked {
            border-bottom: 3px solid $theme-main-color;
            color: $theme-main-color;
            font-weight: 500;
        }
        .realestate-navbar__right-spacer {
            width: $main-menu-logo-width;
        }
    }
    
    .realestate-navbar__left {
        @extend .realestate-navbar__right;        
        
        .navbar-item__left {
            @extend .navbar-item__right;
            margin: 0;
        }
       img {
            height: $std-size * 1.2;
            max-width: $std-size * 2.5;
            mix-blend-mode: multiply;
            padding-left: $std-size * 0.2;            
       }
       .realestate-navbar__left-spacer {
            width: $std-size;           
        }
    }
    
}