.advanced-search-row {
    border-bottom: 1px solid $theme-dropdown-border;
    display: flex;
    flex-direction: row-reverse;
    justify-content: stretch;
    margin: 0 auto;
    padding: $std-size * 0.5;
    width: 90%;
}