.entry-date {
    direction: rtl;
    padding: $std-size * 0.6;
    .entry-date__header {
        @extend .searchBar-avdanced-search-header !optional;
    }
    .entry-date__input {
        border: 1px solid $theme-box-border;
        color: $theme-text-lighter;
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;
        font-size: $font-size-xs;
        line-height: $std-size;
        margin: $std-size;
        padding: $std-size * 0.6;
    }
    
}
.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
    background: $theme-main-color !important;
    border-radius: 25px !important;
}
:focus {
    outline: none;
}