.alert-modal {
  animation: ease-in-modal 1.2s forwards;
  display: block;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
  .modal-content {
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: $std-size * 8;
    padding: $std-size * 1.8 $std-size * 4;
    width: 40%;
    .missing-fields-header {
      color: $theme-main-color;
      font-size: $font-size-l;
      padding-bottom: $std-size;
    }
    .missing-field-text {
      font-size: $font-size-s;
      padding: $std-size * 0.2 0;
    }
  }
}
@keyframes ease-in-modal {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: rgba(0,0,0,0.6);
  }
}