.personal-page {
    background: $theme-background-body;
    direction: rtl;
    display: flex;
    justify-content: space-between;
    margin-top: $std-size * 0.5;
    padding-bottom: $std-size;
    min-height: 1200px;
    width: 100%;
    .personal-content {
        background-color: inherit;
        width: 65%;
        z-index: 1;
        @media (max-width: $media-breakpoint) {
            width: 95%;
            overflow-x: hidden;
        }
    }
    .personal-content__top {
        background-color: inherit;
        .personal-content__header {
            background-color: inherit;
            color: $theme-text-darker;
            font-size: $font-size-xxl;
            font-weight: 500;
            padding: $std-size * 1.8;
            padding-right: $std-size * 3.5;
        }
        .personal-content__menu {
            background: $theme-main-color;
            border-radius: $std-size*0.25 $std-size*0.25 0 0;
            display: flex;
            height: $std-size * 2.8;
            justify-content: space-between;
            padding: 0 $std-size;
            .personal-content__categories {
                background: inherit;
                direction: rtl;
                display: flex;
                .personal-content__category {
                    background-color: inherit;
                    @extend .button-style;
                    color: white;
                    &:hover {
                        color: $theme-text-darker;
                    }
                }
                .personal-content__category__picked {
                    @extend .personal-content__category;
                    background: #ffbe45;
                    color: $theme-text-darker;
                    font-weight: 500;
                }
            }
            .personal-content__exit-button {
                background: darken($theme-main-color, 12%);
                @extend .button-style;
                color: white;
                &:hover {
                    color: $theme-text-darker;
                }
            }
        }
    }
}
.button-style {
    cursor: pointer;
    font-size: $font-size-s;
    margin: auto $std-size * 0.5;
    padding: $std-size * 0.5;
}