.feed-sort-filters-row {
    background: $theme-background-body;
    color: $theme-text-darker;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: $std-size * 2 $std-size;
    width: 95%;
    .sort-by {
        background-color: inherit;
        display: flex;
        flex-direction: row;
        position: relative;
        .sort-by__header{
            background-color: inherit;
            font-size: $font-size-xs;
            margin: auto 0;
            margin-left: $std-size * 0.8;
            padding-left: $std-size * 0.5 0;
        }
        .sort-by__input {
            background-color: white;
            border: 1px solid $theme-box-border;
            font-size: $font-size-xs;
            min-width: $std-size * 12;
            padding: $std-size * 0.5 0;
            .sort-by__bar {
                cursor: pointer;
                display: flex;
                justify-content: space-between;
                background-color: inherit;
                padding: 0 $std-size;
            }
        }
        .sort-by__dropdown {
            box-shadow: $theme-box-shadow;
            display: flex;
            flex-direction: column;
            padding: $std-size * 0.8;
            position: absolute;
            top: $std-size * 3;
            .sort-by__dropdown-item {
                line-height: $std-size * 1.2;
                padding: $std-size * 0.5;                
            }
            .sort-by__dropdown-item__picked {
                @extend .sort-by__dropdown-item;
                .symbol__circled-bullet{
                    color: $theme-main-color;
                }
                
            }
        }
    }
    .show-only {
        @extend .sort-by;
        .show-only__header {
            @extend .sort-by__header;
        }
        .show-only__with-image {
            border: 1px solid $theme-box-border;
            direction: rtl;
            font-size: $font-size-xs;
            margin: auto $std-size * 0.2;
            padding: $std-size * 0.5 $std-size * 1.2;
            .symbol__nis {
                background-color: inherit;
                color: inherit;
            }
            &:hover {
                background: $theme-selected;
            }

        }
        .show-only__with-price {
            @extend .show-only__with-image
        }
        .show-only__with-image__picked {
            @extend .show-only__with-image;
            border-color: $theme-main-color;
            color: $theme-main-color;
            font-weight: 500;
        }
        .show-only__with-price__picked {
            @extend .show-only__with-image__picked;
        }
    }
    
}