.location-search {
    background: $theme-background-header;
    display: flex;
    flex-direction: column;
    padding: $std-size * 0.6;
    .location-search__header {
        height: $std-size ;
        background: $theme-background-header;
        color: $theme-text;
        font-size: $font-size-xs;
        font-weight: 500;
    }
    .location-search__input {
        .location-input__container {
            background: $theme-background-header;
            padding-top: $std-size * 0.5;
            .location-input__field {
                height: $searchbox-Height;
                background: $theme-background-header;
                border: 1px solid $theme-box-border;
                padding: $std-size * 0.6  $std-size * 0.6 $std-size * 0.6 0;
                width: 100%;
                height: 100%;
                &:focus{
                    outline-width: 0;
                }
            }
        }
        #autocomplete-dropdown-container {
            box-shadow: $theme-box-shadow;
            color: $theme-text;
            direction: rtl;
            font-size: $font-size-s;
            position: absolute;
            z-index: 10;
            .suggestion-item,
            .description-suggestion-item {
                background: $theme-background-header;
                padding: $std-size * 0.2 $std-size * 0.5;
            }
            .suggestion-item__active,
            .description-suggestion-item__active {
                @extend .description-suggestion-item;
                background: $theme-selected;
            }
        }
    }
}
