.location-search {
    @extend .searchBar-flexbox-column;
    .location-search__header {
        @extend .searchBar-header;
    }
    .location-search__input {
        direction: rtl;
        padding-top: $std-size * 0.5;
        .location-input__container {           
            .location-input__bar {
                @extend .searchBar-input-bar;
                min-width: $std-size * 11;
                &:focus{
                    outline-width: 0;
                }
            }
        }
        #autocomplete-dropdown-container {
            box-shadow: $theme-box-shadow;
            color: $theme-text;
            direction: rtl;
            font-size: $font-size-s;
            position: absolute;
            z-index: 10;
            .suggestion-item,
            .description-suggestion-item {
                background: $theme-background-header;
                padding: $std-size * 0.2 $std-size * 0.5;
            }
            .suggestion-item__active,
            .description-suggestion-item__active {
                @extend .description-suggestion-item;
                background: $theme-selected;
            }
        }
    }
}
