.price {
    @extend .searchBar-flexbox-column;
    .price__header {
        @extend .searchBar-header;
    }
    .price__input-container {
        display: flex;
        justify-content: center;
        padding-top: $std-size * 0.5;
        .price__min {
            @extend .searchBar-input-bar;
            min-width: $std-size * 5;
            max-width: $std-size * 6;
            &:focus{
                outline-width: 0;
            }
        }
        .price__max {
            @extend .price__min;
            grid-area: min-price;
        }
        .picked {
            color: $theme-text-darker;
        }
    }
    
}