.property-type {
    @extend .searchBar-flexbox-column;
    .property-type__header {
        @extend .searchBar-header !optional;
    }
    .property-type__input {
        direction: rtl;
        padding-top: $std-size * 0.5;
        .property-type__bar {
            color: $theme-text-lighter;
            min-width: $std-size * 8;
            @extend .searchBar-input-bar !optional;
            .symbol__arrow {
                color: black;
                font-size: $font-size-xxs;
            }
        }
        .has-data {
            color: $theme-text-darker;
        }
        
        .property-type__dropdown {
            @extend .dropdown-with-checkboxes;
            grid-template-columns: repeat(3, auto);
            grid-template-rows: repeat(7, 1fr);
            padding-bottom: $std-size * 1.8 !important;
            
        }
        .expand-collapse-button {
            bottom: $std-size * 0.6;            
            color: $theme-main-color;
            cursor: pointer;
            display: flex;
            font-size: $font-size-xs;
            position: absolute;
            right: $std-size * 1.8;            
        }
    }
}
