.roommates {
    @extend .searchBar-flexbox-column;
    .roommates__header {
        @extend .searchBar-header;
    }
    .roommates__input {
        direction: rtl;
        max-width: $std-size * 11;
        min-width: $std-size * 6;
        padding-top: $std-size * 0.5;
        .roommates-bar {
            @extend .searchBar-input-bar;
            .symbol__arrow {
                color: black;
                font-size: $font-size-xxs;
            }
        }    
        .has-data {
            color: $theme-text-darker;
        }   
    }
    .range-input {
        @extend .range-input__searchbar-template;
    }
    .number-picker {
        @extend .number-picker__searchbar-template;
    }
}
    