.promoted-project {
    border-radius: 3%;
    box-shadow: $theme-box-shadow;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: $std-size * 13;   
    overflow: hidden;
    width: 30%;
    &:hover {
        color: blue;
        img {          
            transform: scale(1.03);           
        }
    }
    img {
        width: 100%;
        height: auto;
        overflow: hidden;
        transition: transform 0.5s ease;
       
    }   
    .symbol__heart {
        align-items: center;
        background-color: white;
        border-radius: 50%;
        display: flex;        
        font-size: $font-size-l;
        height: $std-size * 1.8;
        justify-content: center;        
        position: absolute;
        right: $std-size * 0.3;
        text-align: center;
        top: $std-size * 0.3;
        width: $std-size * 1.8;
        &:hover {
            color: $theme-main-color;
        }
    }
    .symbol__heart-full {
        @extend .symbol__heart;
        font-size: $font-size-xs;
       
    }
    
    
    
    .promoted-project__description {
        padding: $std-size * 0.4 $std-size * 0.8;
        color: inherit;
        .promoted-project__address {
            color: inherit;
            font-size: $font-size-s;
            font-weight: 500;
        }
        .promoted-project__city {
            color: inherit;
            font-size: $font-size-xs;
            padding-top: $std-size * 0.3;
        }
        .promoted-project__text {
            color: inherit;
            font-size: $font-size-xs;
            font-weight: 500;
            padding-top: $std-size * 0.8;
        }
        
    } 
}