.promoted-project {
    border-radius: 3% 3% 0 0;
    box-shadow: $theme-box-shadow-promoted-ad;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: $std-size * 15;   
    overflow: visible;
    width: 30%;
    &:hover {
        color: blue;
        img {          
            transform: scale(1.03);           
        }
    }
    .promoted-project__image-container {       
        border-radius: 3% 3% 0 0;
        height: 100%;
        overflow: hidden;
        width: 100%;
        img {
            width: 100%;
            height: 100%;
            transition: transform 0.5s ease;       
        }   
    } 
    .symbol__heart {
        @extend .favorite-heart;
    }
    .symbol__heart-full {
        @extend .symbol__heart;
        font-size: $font-size-xs !important;
       
    }
    .promoted-project__description {
        color: inherit;
        padding: 0 $std-size * 0.8;
        padding-bottom: $std-size * 0.4;
        .promoted-project__address {
            color: inherit;
            font-size: $font-size-s;
            font-weight: 500;
        }
        .promoted-project__city {
            color: inherit;
            font-size: $font-size-xs;
            padding-top: $std-size * 0.3;
        }
        .promoted-project__text {
            color: inherit;
            font-size: $font-size-xs;
            font-weight: 500;
            padding-top: $std-size * 0.8;
        }
        
    } 
}