.ribbon {
    background-color: $theme-main-color;
    border-color: $theme-main-color;
    border-radius: 0 2px 2px 0;
    bottom: $std-size * 2;
    color: white;
    font-size: $font-size-xxs;
    height: $std-size * 1.48;
    left: $std-size * 0.35;
    line-height: $std-size * 1.2;
    width: 35%;
    overflow: visible;
    padding-right: $std-size * 0.4;
    position: relative; 
   }
   .ribbon:before {
    border: $std-size*0.6 solid;
    border-color: inherit;
    border-left-color: transparent;
    border-right-width: $std-size;
    content: "";
    display: block;
    left: -2em;   
    position: absolute;
   }
