.realestate-body {
    background: $theme-background-body;
    display: flex;
    justify-content: space-between;
    margin-top: $std-size * 0.5;
    padding-bottom: $std-size;
    min-height: 1200px;
    width: 100%;
    .realestate-body__content-area {
        width: 75%;
        z-index: 1;
        @media (max-width: $media-breakpoint) {
            width: 95%;
            overflow-x: hidden;
        }
        .realestate-content {
            background: $theme-background-body;
        }
    }
}
.realestate-body__content-area {
    background: $theme-background-body;
}