.number-picker__searchbar-template {
    border: 1px $theme-box-border solid;
    display: flex;
    flex-direction: column;
    max-height: $std-size * 17;
    overflow-y: scroll;
    position: absolute;
    .menu-header {
        @extend .number;
        padding-top: $std-size *5;
    }
    .number {
        padding: $std-size * 0.4 $std-size * 0.5 0 $std-size * 1.5;
        &:hover {
            background: $theme-selected;
        }
    }
  
} 
.number-picker__advanced-search-row-template {
    max-height: $std-size * 12;
    border: 1px $theme-box-border solid;
    display: flex;
    flex-direction: column;
    max-height: $std-size * 17;
    overflow-y: scroll;
    position: absolute;
    .number {
        padding: $std-size * 0.5 $std-size;
        &:hover {
            background: $theme-selected;
        }
    }
    .menu-header {
        text-align: center;
        font-size: $font-size-xs;
        padding: $std-size * 0.5 $std-size;
        &:hover {
            background: $theme-selected;
        }
    }
}