.range-input__searchbar-template {
    @extend .flex-center;
    box-shadow: $theme-box-shadow;
    flex-direction: row; 
    padding: $std-size;
    position: absolute;
    width: $std-size * 10;
    .range-input__from {
        border: 1px solid $theme-box-border;
        color: lighten($theme-text, 30%);
        display: flex;
        font-size: $font-size-xxs;
        justify-content: space-between;
        line-height: $std-size * 2;
        padding-right: $std-size * 0.3;
        width: 50%;
        .symbol__arrow {
            mix-blend-mode: multiply;
            margin: 0 $std-size * 0.5;
        }
    }
    .range-input__upto {
        @extend .range-input__from
    }  
} 
.range-input__advanced-search-row-template {
    .range-input {
        @extend .flex-center;
        flex-direction: row; 
        justify-content: space-between;
        margin: $std-size;
        position: relative;
    }
    .range-input__from {
        border: 1px solid $theme-box-border;
        color: lighten($theme-text, 30%);
        cursor: pointer;
        display: flex;
        font-size: $font-size-xxs;
        justify-content: space-between;
        line-height: $std-size * 2.0;
        min-height: $std-size * 2.4;
        padding-right: $std-size * 0.3;
        width: 49%;
        .symbol__arrow {
            mix-blend-mode: multiply;
            margin: 0 $std-size * 0.5;
        }
    }
    .range-input__upto {
        @extend .range-input__from
    }  
}