
.searchBar-button {
    cursor: pointer;
    direction: rtl;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    font-size: $font-size-xs;
    justify-content: space-around;
    line-height: $std-size * 1.5;
    margin: $searchField-container-spacing;
    margin-top: $std-size * 1.9;
    overflow: nowrap;
    padding: $searchField-container-spacing;
    padding-left: $std-size;
}
.searchBar-flexbox-column {
    direction: rtl;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    padding: $searchField-container-spacing;
    .has-data {
        color: $theme-text-darker !important;
    }  
}


// .searchBar-input-bar {
//     border: 1px solid red !important;//$theme-box-border;
//     color: lighten($theme-text, 30%);
//     direction: rtl;
//     display: flex;
//     flex-grow: 1;
//     flex-shrink: 1;
//     font-size: $font-size-xs;
//     justify-content: space-between;
//     line-height: $std-size;
//     padding: $std-size * 0.6;
//     width: 100%;
// }

// .dropdown-with-checkboxes {
//     border: 1px solid $theme-box-border;
//     box-shadow: $theme-box-shadow;
//     display: grid;
//     grid-auto-flow: column;
//     font-size: $font-size-s;
//     padding: $std-size;
//     position: absolute;
//     width: auto;
//     z-index: 10;
//     .dropdown__item {
//         line-height: $std-size;
//         padding: $std-size * 0.3 0;
//         min-width: $std-size * 10;
//         white-space: nowrap;
//         &:hover {
//             .symbol__checkbox {
//                 color: $theme-main-color;
//             }
//         }
//     }
//     .dropdown__item__picked {
//         @extend .dropdown__item;
//         .symbol__checkbox {
//             color: $theme-main-color;
//         }
//         &:hover {
//             .symbol__checkbox {
//                 color: darken($theme-main-color, 8%);
//             }
//         }
//     }
//     .symbol__checkbox {
//         font-size: $font-size-m;
//         margin-left: $std-size * 0.5;
//         vertical-align: middle;
//     }
// }
