.side-ad__right {   
    background: $theme-background-body;
    img {
        background: $theme-background-body; 
        height: $side-ad-height;
        max-width: $side-ad-width;
        padding-top: $std-size;
        position: sticky;
        top: $std-size;  
        @media (max-width: $media-breakpoint) {
            visibility: hidden;
            width: 0;
        }
    }
}
.side-ad__left {
    @extend .side-ad__right
}