$accessibility-blue: #002f75;
$add-item-button-background: #0fca80;
$theme-background-header: #fff;
$theme-background-body: #f9f9f9;
$theme-dropdown-border: #ccc;
$theme-box-border: #e7e7e7;
$theme-box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.1);
$theme-box-shadow-searchbar: 0 2px 6px 0 rgba(0,0,0,.1);
$theme-footer-background: #363636;
$theme-highlight-gray: #dbdbd1;
$theme-highlight-yellow: #fdf9c5;
$theme-main-color: #ff7100;
$theme-selected: #eeeeee;
$theme-hovered: #f9f9f9;
$theme-text: #363636;
$theme-text-darker: darken($theme-text, 10%);
$theme-text-lighter: lighten($theme-text, 30%);
$theme-shadow: #707070;

