$accesebility-blue: #002f75;
$green-button: #0fca80;
$theme-background: #f9f9f9;
$theme-footer-background: #363636;
$theme-highlight-gray: #dbdbd1;
$theme-highlight-yellow: #fdf9c5;
$theme-main-color: #ff7100;
$theme-selected: #eeeeee;
$theme-text: black;