$std-size: 1.0rem;
$font-size-xxs: $std-size * 0.7;
$font-size-xs: $std-size * 0.85;
$font-size-s: $std-size * 1.0;
$font-size-m: $std-size * 1.2;
$font-size-l: $std-size * 1.4;
$font-size-xl: $std-size * 1.6;
$font-size-xxl: $std-size * 2.0;
$main-menu-height: $std-size * 5.0;
$main-menu-logo-width: $std-size * 6.0;
$main-menu-dropdown-item-padding: $std-size * 0.4 $std-size * 1.5 $std-size * 0.4 $std-size * 3;
$main-menu-dropdown-menu-padding: $std-size * 1.5 0 $std-size*1.5 $std-size*2;
$navbar-height: $std-size * 3.5;
$side-ad-height: $std-size * 37.5;
$side-ad-width: $std-size * 7.5;
$top-ad-height: $std-size * 11.25;
$top-ad-width: $std-size * 58.125;
