.go-search__simple {
    @extend .searchBar-button !optional;
    background: $theme-main-color;
    .go-search__header {
        background: inherit;
        color: white;
        padding-right: $std-size * 0.5;
    }
    .symbol__magnifying-glass {
        font-size: $font-size-l;
        mix-blend-mode: multiply;      
    }
    &:hover {
        background: darken($theme-main-color, 10%);
    }
}