.realestate-search-bar__container {
    background: $theme-background-header;
    box-shadow: $theme-box-shadow;
    margin-top: $std-size * 1.5;
    padding: $std-size * 1.0;
    .realestate-search-bar__header {
        background: $theme-background-header;
        font-weight: 500;
        direction: rtl;
        display: flex;
        .search-bar__header {
            background: $theme-background-header;
        }
        .realestate-search-bar__header__alt-cat {
            @extend .linked-text;
            background: $theme-background-header;
            color: $theme-main-color;
            text-decoration: underline dotted $theme-main-color;
        }
    }
    .realestate-search-bar__search-columns {
        background: $theme-background-header;
        display: flex;
        flex-direction: row-reverse;
        padding-top: $std-size * 1.825;
    }
}