.realestate-search-bar__container {
    background: $theme-background-header;
    box-shadow: $theme-box-shadow-searchbar;
    margin-top: $std-size * 1.5;
    padding: $searchbar-padding;
    .realestate-search-bar__header {
        direction: rtl;
        display: flex;
        font-weight: 500;
        padding-right: $std-size * 0.6;
        .realestate-search-bar__header__alt-cat {
            @extend .linked-text;
            background: $theme-background-header;
            color: $theme-main-color;
            text-decoration: underline dotted $theme-main-color;
        }
    }
    .realestate-search-bar__search-columns {
        display: flex;
        justify-content: space-around;
        flex-direction: row-reverse;
        padding-top: $std-size * 1.825;
        overflow-x: auto;
    }
}