.realestate-body {
    background: $theme-background-body;
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    min-height: 1200px;
    width: 100%;
    z-index: -1;
    .realestate-body__content-area {
        width: 65%;
    }
}
.realestate-body__content-area {
    background: $theme-background-body;
}