.side-ad__right {   
    background: $theme-background-body;
    img {
        background: $theme-background-body; 
        height: $side-ad-height;
        max-width: $side-ad-width;
        padding-top: $std-size;
        position: sticky;
        top: $std-size;        
    }
}
.side-ad__left {
    @extend .side-ad__right
}