.top-advertising {
    align-items: center;
    background-color: $theme-background-body;
    display: flex;    
    justify-content: center;
    margin-bottom: $std-size * 1.5;
    img {
        max-height: $top-ad-height;
        width: 100%;
    }
}