.html {
    height: 100%;
}
.main-menu {
    background: $theme-background-header;
    border-bottom: 1px solid $theme-selected;
    border-top: 5px solid $theme-main-color;
    display: flex;
    flex-direction: row-reverse;
    height: $main-menu-height;
    justify-content: space-between;

    .main-menu__left-segment {
        display: flex;
        flex-direction: row;                
        .add-item-button__container {
            align-items: center;    
            background: $theme-background-header;
            color: $theme-text;
            display: flex;
            padding-left: $std-size;
            text-decoration: none;
        }
        .add-item-button {
            background: $add-item-button-background;
            border-radius: 20px;
            color: white;
            direction: rtl;
            font-size: $font-size-s;
            font-weight: 500;
            height: 40px;
            line-height: 20px;
            padding: 10px 18px;
            vertical-align: middle;
            width: 193px;
            &:hover {
                background: darken($add-item-button-background, 10%);    
            }
        }  
    }
    .main-menu__right-segment {
        display: flex;
        flex-direction: row-reverse;
        .main-menu__logo-container {
            background: $theme-background-header;
            height: 100%;
            padding: $std-size 0 $std-size $std-size;
            @extend .linked-text;
            @extend .flex-center;
            a{
                @extend .flex-center;
            }
            img {
                background: $theme-background-header;
                width: $main-menu-logo-width;
            }
            .main-menu__logo {
                background: $theme-background-header;
            }
        }
    }
    .main-menu__nav-items-container {
        @extend .flex-center;        
        flex-direction: row-reverse;
    }
    
    .main-menu__nav-item {
        @extend .flex-center;
        @extend .linked-text;
        background: $theme-background-header;
        font-size: $font-size-s;
        height: 100%;
        padding: $std-size;
        &:hover .main-menu__nav-item-link {
            background: $theme-hovered;
            a {
                background: $theme-hovered;
            }
        }
        &:hover {
            background: $theme-hovered;
        }
        .app-link a{
            background: $theme-background-header;
        }
        .app-link__picked a{
            background: $theme-selected;
        }
        
        .main-menu__dropdown-container {
            background: $theme-background-header;
            box-shadow: $theme-box-shadow;
            direction: rtl;
            display: grid;
            flex-direction: column;
            grid-auto-flow: column;
            padding: $main-menu-dropdown-menu-padding;
            position: absolute;
            top: $main-menu-height;
            width: auto;     
            z-index: 10;      
            .main-menu__dropdown-item a {    
                @extend .linked-text;
                background: $theme-background-header;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                padding: $main-menu-dropdown-item-padding;
                position: relative;
                &:hover {
                    color: $theme-main-color;
                }
            }
        }
      
        #main-menu__dropdown-container-of__realestate {
            grid-template-rows: repeat(5, 1fr);                    
        }
        #main-menu__dropdown-container-of__vehicles {
            grid-template-rows: repeat(10, 1fr);           
        }
        #main-menu__dropdown-container-of__products {
            grid-template-rows: repeat(8, 1fr);            
        }
        #main-menu__dropdown-container-of__jobs {
            grid-template-rows: repeat(10, 1fr);
        }
        #main-menu__dropdown-container-of__commercial {
            grid-template-rows: repeat(6, 1fr);
        }
        #main-menu__dropdown-container-of__pets {
            grid-template-rows: repeat(10, 1fr);
        }
        #main-menu__dropdown-container-of__pro {
            grid-template-rows: repeat(11, 1fr);
        }
        #main-menu__dropdown-container-of__other {
            grid-template-rows: repeat(3, 1fr);
        } 
    }
    .main-menu__nav-item__picked {
        @extend .main-menu__nav-item;
        background-color: $theme-selected;
        &:hover .main-menu__nav-item-link {
            a {
                background: $theme-selected;
            }
        }
        &:hover {
            background: $theme-selected;
        }
    }
}



