@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

* {
    background: $theme-background-header;
    box-sizing: border-box;
    color: $theme-text;
    font-family: 'Rubik', sans-serif;
    white-space: nowrap;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: $font-size-m;
    font-weight: normal;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.linked-text {
    color: $theme-text;
    direction: rtl;
    text-decoration: none;
    cursor: pointer;
    a {
        color: $theme-text;
        direction: rtl;
        text-decoration: none;
    }
}
.searchBar-avdanced-search-header {
    color: $theme-text-darker;
    font-size: $font-size-s-xs;
    padding-right: $std-size * 1.2;
}
.searchBar-header {
    color: $theme-text-darker;
    direction: rtl;
    font-size: $font-size-xs;
    font-weight: 500;
    padding-right: $std-size * 0.2;
}
